
.label {
     -fx-text-fill: black;
     -fx-font-family: Arial;
}

.text-field {
    -fx-text-fill: black;
}

.text-area {
	-fx-text-fill: black;
}

.text-area *.content {
    -fx-background-color:  #B1B2FF;
    -fx-border-color: #B1B2FF;
}

.mod1 *.content {
	 -fx-background-color:   #D2DAFF !important;
}

.button {
	-fx-cursor: hand;
}

.mod {
     -fx-text-fill: white !important;
     -fx-font-family: Arial;
}

.modArea {
     -fx-text-fill: black !important;
     -fx-font-family: Arial;
}

.mod2 {
     -fx-text-fill: #8B8A8A !important;
     -fx-font-family: Arial;
}
.menu-item {
    -fx-background-color:  #B1B2FF;
    -fx-font-size: 14px;
}

.menu-item:focused {
     -fx-background-color: #D2DAFF;
}

